.grid {
	
	width: 960px;
	height: 960px;
	

}

table {
	
	width: 960px;
	
}

.box {
	width: 100%;
	height: 100%;
	border-style: solid;
	border-top-color:black;
	background-color: #eee;
}

table, tbody, td, tr {
	
	padding: 0;
	margin: 0;
	
}

.active {
	
	background-color: black;
	
}